<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
  <add name="conexion" connectionString="Data Source =192.168.1.77;initial catalog=vidrieriadb;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True " providerName="System.Data.SqlClient" />
<!-- <add name="conexion" connectionString="data source=(localdb)\Servidor;initial catalog=vidrieriaDb;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True " providerName="System.Data.SqlClient" />-->
    <add name="ConStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR=Yes;IMEX=1'" />
  </connectionStrings>
</configuration>